<%- include("partials/header"); -%>
<h1>Create</h1>
<form class="" action="/create" method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="bookTitle">
        <label>Subject</label>
        <textarea class="form-control" name="bookSubject" rows="5" cols="30"></textarea>
        <label>Asscesion</label>
        <input class="form-control" type="text" name="bookAssecssion">
        <label>Shelf</label>
        <input class="form-control" type="text" name="bookShelf">
      </div>
      <button class="btn btn-primary" type="submit" name="button">Create</button>
</form>


<%- include("partials/footer"); -%>